@import "tailwindcss";
@import "material-icons/iconfont/material-icons.css";
.material-icons,.material-icons-outlined {
  font-size: revert-layer;
}

@theme {
  --color-vibrantPurple: #6843ec;
  --color-deepBlack: #0e0e0e;
  --color-softGreen: #b3d73b;
  --color-pureWhite: #ffffff;
  --color-greyGray: #292929;
}
